body{
  background-image: url(../media/backgroundimg.jpg);
}

h1 {
  margin: auto;
  background-color: blue;
  color: white;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 2em;
  padding: 0.30em;
  display: block;
  position: relative;
  resize: vertical;  
}

h2 {
  margin: auto;
  background-color: blue;
  color: white;
  text-align: center;
  font-family: Arial Narrow, sans-serif;
  font-size: 1.50em;
  padding: 0.40em;
  display: block;
  position: relative;
  resize: vertical;  
}

#inputname {
	color: red;
}
